<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_ZOkrDjDfeJxELqD9m6kQJEon5bldplc</string>
	<key>GCM_SENDER_ID</key>
	<string>1004585096405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codepath.TravelSnap</string>
	<key>PROJECT_ID</key>
	<string>travelsnap-72668</string>
	<key>STORAGE_BUCKET</key>
	<string>travelsnap-72668.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004585096405:ios:7ccb5bf580d35492987e5c</string>
</dict>
</plist>